[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ghosteel
Exec=ghosteel
Name=Ghosteel

[X-Sailjail]
OrganizationName=com.zackslash
ApplicationName=ghosteel
Permissions=UserDirs;Secrets;
Sandboxing=Disabled
